*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  border: 0.5px solid gray !important;
}
select{
  border: 0.5px solid gray !important;
}
textarea{
  border: 0.5px solid gray !important;
}